body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #abd5ff;
}
h2 {
  margin-top: 50px;
}
button {
  background: #0056e3;
  color: white;
  margin: 1vh;
  border-radius: 10px;
  padding: 10px;
  border-width: 0px;
  font-size: 18px;
}
button:hover{
  box-shadow: 0px 0px 10px white;
}